In [1]:
import pandas as pd
import json

In [2]:
df_timesheets = pd.read_csv('timesheets.csv', sep = '|')
df_equipment = pd.read_csv('equipment_lu.csv', sep = '|')

### Timesheets DataFrame

In [8]:
print(df_timesheets.head(5))

   Unnamed: 0  clock_off_date_time   clock_on_date_time    fname     lname  \
0           0  2017-06-17 15:04:13  2017-06-17 14:00:18     Dawn      Pugh
1           1  2017-12-11 14:50:26  2017-12-11 13:10:17    Tracy     Ellis
2           2  2017-06-06 17:29:16  2017-06-06 14:45:05  Phillip  Robinson
3           3  2017-09-12 16:15:30  2017-09-12 14:38:19   Marian      Page
4           4  2017-05-19 16:31:30  2017-05-19 10:06:04  Rebecca     Wells

   person_id  rate
0  296489757   300
1  350777513   200
2  855983960  1000
3  487954983   100
4   18566746   600

### Equipment DataFrame

In [9]:
print(df_equipment.head(5))

   Unnamed: 0          eq_id      model
0           0  1-70195-622-5       BTl9
1           1            NaN    BOT-301
2           2  1-226-97624-7       BTl9
3           3  0-407-62895-9  BOT-001v2
4           4  1-83918-874-X    BOT-001

### Machine Transaction Json to DataFrame

In [10]:
from pandas.io.json import json_normalize
df_machine = pd.read_json('machine_transaction.json', orient = 'records')
with open('machine_transaction.json') as f:
    jdata = json.load(f)
#print(type(jdata))
df_res = json_normalize(jdata, None, None)
print(df_res.head())

           eq_id operation.activity operation.unit operation.volume  \
0  1-59767-374-9        formulation             ml               10
1  0-492-98861-7        formulation             ml               38
2  0-452-41582-9           bottling             ml               14
3  0-318-89607-9        formulation             ml               12
4  1-200-78308-5        formulation             ml               11

    operator transaction_date
0  ahodgs095       01.01.2017
1  kbartl138       01.01.2017
2  dpayne980       01.01.2017
3  ahodgs095       01.01.2017
4  cbuckl520       01.01.2017

##### Machine Transaction DataFrame joined with Equipment DataFrame based on eq_id

In [11]:
df_final = df_res.merge(df_equipment, on = 'eq_id')
print(df_final.head())

           eq_id operation.activity operation.unit operation.volume  \
0  1-59767-374-9        formulation             ml               10
1  1-59767-374-9            milling              g               30
2  1-59767-374-9        formulation             ml               38
3  1-59767-374-9           bottling             ml               10
4  1-59767-374-9            milling              g               14

    operator transaction_date  Unnamed: 0   model
0  ahodgs095       01.01.2017          49  AM-953
1  bwatso571       01.01.2017          49  AM-953
2  smistr465       01.06.2017          49  AM-953
3  jbooth486       01.07.2017          49  AM-953
4  jthoms547       01.08.2017          49  AM-953

##### This dataframe can be joined with Timesheets DataFrame based first & last name using regular expression and transaction date